
$textColor: #FFFFFF;
$columnBg: #303E4D;
$menuHoverBg: #2C3849;

$itemHoverBg: #4A5664;
$itemActiveBg: #6698C8;
$itemActive: #FFFFFF;

$badgeBg: #78AF8F;

/**
 * Header
 */
.char-select {
    position: relative;
    line-height: 53px;
    font-weight: 900;
    padding: 0 1rem;
    color: $textColor;
    background-color: $columnBg;
    cursor: pointer;

    &:hover {
        background-color: $menuHoverBg;
    }

    .btn-group {
        width: 100%;
        .btn-default {
            color: $textColor;
            text-align: left;
            background: none;
            border-color: transparent;
            width: 100%;
            span {
                float: right;
            }
        }

        &.open {
            .dropdown-toggle{
                color: $textColor;
                background-color: transparent;
                box-shadow: none;
                border-color: transparent;
            }
        }
    }

}

/*
 * Channel listing
 */
.listings {
    color: $textColor;
    overflow-y: auto;
    overflow-x: hidden;

    .listings-channels {
        background-color: $columnBg;
        h2 {
            text-align: left;
            font-size: 14px;
            line-height: 1.25rem;
            margin: 0 1rem .1rem;
            text-transform: uppercase;
            font-weight: 700;
            color: #CAD1D9;
            width: 165px;
            position: relative;
        }
        ul {
            list-style: none;
            margin: 0;
            padding-left: 10px;

            li {
                height: 24px;
                line-height: 24px;
                margin-right: 10px;
                &:hover {
                    background-color: $itemHoverBg;
                }
                &.active {
                    background-color: $itemActiveBg;
                    color: $itemActive;
                    border-top-right-radius: 0.25rem;
                    border-bottom-right-radius: 0.25rem;
                }
            }
            .unread {
                background-color: $badgeBg;
            }
        }
    }


}

.chat-history {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    padding: 0 18px 1rem 1.5rem;
}
.message {
    position: relative;
    margin-top: .5rem;
    padding: .25rem 2rem .1rem 3rem;
    min-height: 36px;
}
.shoutbox-avatar {
    position: absolute;
    left: 0;
    display: block;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    width: 36px;
    height: 36px;
    background-size: cover;
}
.shoutbox-user {
    font-weight: 900;
    padding-right: .25rem;
    color: #3d3c40;
    margin-left: 10px;
    font-style: normal;
    text-decoration: none;
}
.message_timestamp {
    text-align: left;
    display: inline;
    position: relative;
    top: 0;
    left: 0;
    color: #babbbf;
    font-size: 12px;
    line-height: 1.2rem;
    width: 36px;
    margin-right: 0;
    margin-left: 0;
}
.message_content {
    color: #8b898f;
    font-style: italic;
    display: block;
    min-height: 1rem;
    margin-left: 10px;
}
.chat-input {
    font-size: .95rem;
    width: 90%;
    margin-left: 2%;
    margin-bottom: auto;
    line-height: 1.2rem;
    border: 2px solid #e0e0e0;
    -moz-border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    border-radius: 0.2rem;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: #3d3c40;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    bottom: 0;
    min-height: 41px !important;
    padding: 9px 5px 9px 8px;
}