<template name="charList">
    <div class="row">
        <div class="col-md-12">
            <h2>Charaktere</h2>
        </div>
    </div>
    {{#if canCreateCharacters}}
        <div class="row">
            <form class="form-inline well">
                <h3>Neuen Charakter erstellen</h3>
                <div class="form-group">
                    <label for="exampleInputName2">Name</label>
                    <input type="text" class="form-control" id="newCharName" placeholder="Jane Doe">
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">Avatar</label>
                    <input type="text" class="form-control" id="newCharAvatar">
                </div>
                <button type="button" class="btn btn-default createChar">Erstellen</button>
            </form>
        </div>
    {{/if}}
    {{#each characters}}
        <div class="row">
            <div class="col-md-1"><img src="{{avatar}}"></div>
            <div class="col-md-4">{{name}}</div>
            <div class="col-md-1">
                {{#if active}}
                    <span class="label label-success">Aktiv</span>
                {{else}}
                    <button class="btn btn-default switchChar" data-id="{{_id}}" type="submit">Aktivieren</button>
                {{/if}}
            </div>
        </div>
    {{/each}}

</template>